@import "tailwindcss";

body {
    overflow-x: hidden;
  }
  
  #root{/*en caso de usar react*/
   overflow-x: hidden;
  }

  .mensaje-comic {
    position: relative; /* Necesario para posicionar la "cola" del mensaje */
    background-color: white; /* Fondo blanco */
    border: 2px solid #e0e0e0; /* Borde gris claro */
    border-radius: 20px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno para el texto */
    margin: 20px; /* Margen externo para separarlo de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
